{% extends 'base.html' %}

{% block title %}Academic Awards{% endblock %}

{% block content %}
<div class="card text-center">
  <h5 class="card-header">Academic Awards</h5>
    <div class="card-body">
{% for sen in awd_sentences %}

      <div class="card text-lg-center">
          <div class="card-body">
            <p class="card-text"> {{sen.body}} </p>
            <a href="{% url 'delete_awd' sen.id %}" class="btn btn-outline-danger">Delete</a>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Move to
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'awd2edu' sen.id %}">Education Background</a></li>
                <li><a class="dropdown-item" href="{% url 'awd2int' sen.id %}">Research Interest</a></li>
              </ul>
            </div>
          </div>
      </div>

{% endfor %}
  </div>
</div>
{% endblock %}